**/**result**/**
**.zip
CitySim-Solver/**
data/**
new_xml/**
new_cli/**
export/**
*.out
*.err
lightning_logs/**
multi_cli_log/**
multi_cli/**
bud_cls/**
CitySim-Solver/**
.vscode/**
**/*.pyc
**/__pycache__/**
us_city/**